{% extends 'layout.twig' %}

{% block body %}
<div class="container">
  <div class="row">
  <form class="col-12 col-md-6" action="/create-payment" method="post">
    <h1>Payment form</h1>
    <section>
        <h2>Order information</h2>
        <p class="form-group">
          <label for="customer-name">
            <span>Customer Name: </span>
          </label>
          <input class="form-control" type="text" id="customer-name" name="customer-name" required>
        </p>
        <p class="form-group">
          <label for="phone">
            <span>Customer Phone Number: </span>
          </label>
          <input class="form-control" type="text" id="customer-phone" name="customer-phone" required>
        </p>
        <p class="form-group">
          <label for="currency">
            <span>Currency:</span>
          </label>
          <select class="form-control" id="currency" name="currency">
            <option value="HKD">HKD</option>
            <option value="USD">USD</option>
            <option value="AUD">AUD</option>
            <option value="EUR">EUR</option>
            <option value="JPY">JPY</option>
            <option value="CNY">CNY</option>
          </select>
        </p>
        <p class="form-group">
          <label for="price">
            <span>Price <em>(must have 2 decimal place, e.g. 1234.00)</em>: </span>
          </label>
          <input class="form-control" type="text" id="price" name="price" required>
        </p>
    </section>
    <section>
        <h2>Payment information</h2>
        <p class="form-group">
          <label for="cardholder-name">
            <span>Card holder name: </span>
          </label>
          <input class="form-control" type="text" id="cardholder-name" name="cardholder-name" required>
        </p>
        <p class="form-group">
          <label for="card-number">
            <span>Card number:</span>
          </label>
            <input class="form-control" type="text" id="card-number" name="card-number" required>
        </p>
        <p class="form-group">
          <label for="expiration">
            <span>Expiration date <em>(formatted as MM/YY)</em>:</span>
          </label>
          <input class="form-control" type="text" id="expiration" name="expiration" required>
        </p>
        <p class="form-group">
          <label for="card-cvv">
            <span>Card CVV:</span>
          </label>
          <input class="form-control" type="text" id="card-cvv" name="card-cvv" required>
        </p>
    </section>
    <section>
      <p> <button class="btn btn-primary" type="submit">Validate the payment</button> </p>
    </section>
  </form>
  <form class="col-12 col-md-6" action="/check-payment" method="post">
    <h1>Payment form</h1>
    <section>
        <h2>Order information</h2>
        <p>
          <label for="order-id">
            <span>Order id: </span>
          </label>
          <input class="form-control" type="text" id="order-id" name="order-id" required>
        </p>
        <p>
          <label for="order-name">
            <span>Customer Name: </span>
          </label>
          <input class="form-control" type="text" id="order-name" name="order-name" required>
        </p>
    </section>
    <section>
      <p> <button class="btn btn-primary" type="submit">Check the payment</button> </p>
    </section>
  </form>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ messageTitle }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre>{{ messageBody }}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="/javascripts/validator.js"></script>
  <script type="text/javascript" src="/javascripts/validation.js"></script>
  <script type="text/javascript">
  {% if (messageTitle) and (messageBody) %}
    setTimeout(function(){
      $('#responseModal').modal('show');
    } , 1000);
  {% endif %}
  </script>
{% endblock %}
