{% extends 'layout.twig' %}

{% block body %}
  <form action="/create-payment" method="post">
    <h1>Payment form</h1>
    <section>
        <h2>Order information</h2>
        <p>
          <label for="customer-name">
            <span>Customer Name: </span>
          </label>
          <input type="text" id="customer-name" name="customer-name" required>
        </p>
        <p>
          <label for="phone">
            <span>Customer Phone Number: </span>
          </label>
          <input type="text" id="customer-phone" name="customer-phone" required>
        </p>
        <p>
          <label for="currency">
            <span>Currency:</span>
          </label>
          <select id="currency" name="currency">
            <option value="HKD">HKD</option>
            <option value="USD">USD</option>
            <option value="AUD">AUD</option>
            <option value="EUR">EUR</option>
            <option value="JPY">JPY</option>
            <option value="CNY">CNY</option>
          </select>
        </p>
        <p>
          <label for="price">
            <span>Price: </span>
          </label>
          <input type="text" id="price" name="price" required>
        </p>
    </section>
    <section>
        <h2>Payment information</h2>
        <p>
          <label for="cardholder-name">
            <span>Card holder name: </span>
          </label>
          <input type="text" id="cardholder-name" name="cardholder-name" required>
        </p>
        <p>
          <label for="card-number">
            <span>Card number:</span>
          </label>
            <input type="text" id="card-number" name="card-number" required>
        </p>
        <p>
          <label for="expiration">
            <span>Expiration date:</span>
            <em>formatted as mm/yy</em>
          </label>
          <input type="text" id="expiration" name="expiration" required>
        </p>
        <p>
          <label for="card-cvv">
            <span>Card CVV:</span>
          </label>
          <input type="text" id="card-cvv" name="card-cvv" required>
        </p>
    </section>
    <section>
      <p> <button type="submit">Validate the payment</button> </p>
    </section>
  </form>
  <form action="/check-payment" method="post">
    <h1>Payment form</h1>
    <section>
        <h2>Order information</h2>
        <p>
          <label for="order-id">
            <span>Order id: </span>
          </label>
          <input type="text" id="order-id" name="order-id" required>
        </p>
        <p>
          <label for="customer-name">
            <span>Customer Name: </span>
          </label>
          <input type="text" id="customer-name" name="customer-name" required>
        </p>
    </section>
    <section>
      <p> <button type="submit">Check the payment</button> </p>
    </section>
  </form>
  <script type="text/javascript" src="/javascripts/validator.js"></script>
  <script type="text/javascript" src="/javascripts/validation.js"></script>
  <script type="text/javascript">
  {% if message %}
    setTimeout(function(){
      alert('{{ message }}')
    } , 1000);
  {% endif %}
  </script>
{% endblock %}
